{% load static tailwind_tags %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Payment</title>
		{% tailwind_css %}
	</head>
	<body>
		<div
			class="flex flex-col justify-center items-center h-screen w-full bg-gray-200"
		>
			<div class="flex justify-center mx-auto items-center mb-4">
				<p class="tracking-[6px] text-indigo-600 text-[35px] italic">
					Ripple
				</p>
				<span class="italic tracking-[6px] text-red-700 text-[20px]"
					>Pay</span
				>
			</div>

			<div
				class="items-center mx-auto h-screen/2 w-[300px] bg-white shadow-lg rounded-lg py-2"
			>
				<div class="flex justify-between">
					<div class="justify-between my-1 mx-4">
						<p class="italic">{{business}}</p>
					</div>
					<div class="justify-between my-1 mx-4">
						<p class="italic text-[10px] font-semibold">
							Customer: {{customer}}
						</p>
					</div>
				</div>

				<div
					class="flex px-4 justify-center mx-auto my-2 bg-neutral-200"
				>
					<p class="text-[13px] mx-auto">
						You can make payment using xrp native token or one of these
						currencies
					</p>
				</div>
				<div class="flex flex-col px-4 justify-center mx-auto my-2">
					<div class="flex justify-between">
						<p class="text-[13px] font-semibold">XRP: {{xrp}}</p>
						<p class="text-[13px] font-semibold">JPY: {{jpy}}</p>
					</div>
					<div class="flex justify-between">
						<p class="text-[13px] font-semibold">USD: {{usd}}</p>
						<p class="text-[13px] font-semibold">EUR: {{eur}}</p>
					</div>
				</div>
				<div class="flex flex-col justify-center mx-auto my-2">
					<p class="text-[13px] my-2 mx-auto">
						Copy the payment address
					</p>
					<input
						type="text"
						value="{{address}}"
						disabled
						class="mx-4 text-[12px] border border-s-purple-900"
					/>
				</div>
				<!-- <div class="w-3/4 mx-4">
					<p class="text-[12px] my-2">
						Select the currency you made payment with
					</p>
					<select name="" id="" class="w-full mx-3">
						<option value="">JPY</option>
						<option value="">USD</option>
						<option value="">EUR</option>
						<option value="">NGN</option>
					</select>
				</div>
				<div class="w-3/4 mx-4">
					<p class="text-[12px] my-2">
						Enter xrp wallet you made payment with
					</p>
					<input type="text" class="mx-5" />
				</div> -->
				<div class="mx-4 my-2">
					<button
						type="submit"
						class="inline-block bg-indigo-500 py-3 w-full rounded-sm text-[12px] text-white my-2"
					>
						Verify payment
					</button>
				</div>
			</div>
		</div>

		<!-- Your HTML template -->

		<script>
			let url = 'ws://' + window.location.host + '/ws/transactions';
			window.onload = function () {
				connectSocket();
			};
			// Your JavaScript code

			const socket = new WebSocket(url);

			const connectSocket = () => {
				socket.onopen = () => {
					console.log('WebSocket connection established');
					const reference = window.location.pathname.split('/')[4];
					socket.send(reference);
				};
			};

			socket.onmessage = (event) => {
				console.log('Received:', event.data);
			};
		</script>
	</body>
</html>
